<html>
    <head>
        <title>VINdd</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="css/home.css" />
        <script
            src="https://kit.fontawesome.com/c00227cd9f.js"
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <div class="nav-bar">
            <div class="nav-heading">
                <h2>VINdd</h2>
            </div>
            <div class="nav-links">
                <a href="">Donwload</a>
                <a href="">Team</a>
                <a href="">About</a>
            </div>
        </div>

        <div class="black-bg">
            <!-- Main banner row -->
            <div class="row banner-row">
                <div class="col-lg-6 banner-text">
                    <h1>Create<br />Share<br />Discover</h1>
                    <p>
                        Share and build Audience.<br />Discover your favourite
                        Artists.
                    </p>
                    <img src="resources/google-play-badge.png" alt="" />
                </div>
                <div class="col-lg-6 banner-img">
                    <img src="resources/phone.png" alt="" />
                </div>
            </div>

            <!-- Image divs -->

            <div class="row flow-box">
                <div class="col-lg-6 text-block not-sm">
                    <div class="text-field">
                        <h1>App as social as Indians</h1>
                        <p>
                            Not just create and share Engage and support with
                            the community
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="image-field">
                        <img src="../resources/Rectangle 3.png" alt="" />
                    </div>
                </div>

                <div class="col-lg-6 text-block not-lg">
                    <div class="text-field">
                        <h1>App as social as Indians</h1>
                        <p>
                            Not just create and share Engage and support with
                            the community
                        </p>
                    </div>
                </div>
            </div>

            <div class="row flow-box">
                <div class="col-lg-6">
                    <div class="image-field">
                        <img src="../resources/Rectangle 10.png" alt="" />
                    </div>
                </div>
                <div class="col-lg-6 text-block">
                    <div class="text-field">
                        <h1>Capture the Beauty</h1>
                        <p>
                            Focus on what to capture Rarther than how to capture
                        </p>
                    </div>
                </div>
            </div>

            <div class="row flow-box">
                <div class="col-lg-6 text-block not-sm">
                    <div class="text-field">
                        <h1>Share the taste and the Experience</h1>
                        <p>
                            Let your viewer experience what you are doing
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="image-field">
                        <img src="../resources/Rectangle 14.png" alt="" />
                    </div>
                </div>
                <div class="col-lg-6 text-block not-lg">
                    <div class="text-field">
                        <h1>Share the taste and the Experience</h1>
                        <p>
                            Let your viewer experience what you are doing
                        </p>
                    </div>
                </div>
            </div>

            <div class="row flow-box">
                <div class="col-lg-6">
                    <div class="image-field">
                        <img src="../resources/Rectangle 15.png" alt="" />
                    </div>
                </div>
                <div class="col-lg-6 text-block">
                    <div class="text-field">
                        <h1>Discover someone you might know</h1>
                        <p>
                            Easy to find and connect with you Favourite profiles
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-lg-6 text-block">
                          <div class="text-field">
                              <h1>Our Team</h1>
                              <p>
                                  This is the team behind the making of VINdd
                              </p>
                          </div>
                      </div>
                      <center>
            <div class="row">
              <div class="col-sm-2.4">
                <image src="../resources/Anustup.jpeg" style="padding:20px" width="250px" height="250px" alt="" />

                <div class="text-field" style="padding:20px" >
                      <h3>Pooja Sharma</h3>
                      <p>
                        <a href="https://www.linkedin.com/in/anustupmukherjee/"><i class="fab fa-LinkedIn fa-2x"></i></a>
                      </p>
                    </div>
              </div>
              <div class="col-sm-2.4">
                <image src="../resources/Anustup.jpeg" style="padding:20px" width="250px" height="250px" alt="" />
                <div class="text-field" style="padding:20px" >
                      <h3>Anustup Mukherjee</h3>
                      <p>
                          <a href="https://www.linkedin.com/in/anustupmukherjee/"><i class="fab fa-LinkedIn fa-2x"></i></a>
                      </p>
                </div>
              </div>
              <div class="col-sm-2.4">
                <image src="../resources/yashpic.jpeg" style="padding:20px" width="250px" height="250px" alt="" />
                <div class="text-field" style="padding:20px">
                            <h3>Yash Pant</h3>
                            <p>
                              <a href="https://www.linkedin.com/in/pantyash"><i class="fab fa-LinkedIn fa-2x"></i></a>
                            </p>
                          </div>
              </div>
              <div class="col-sm-2.4">
                <image src="../resources/Abhishek.jpeg" style="padding:20px" width="250px" height="250px" alt="" />
                <div class="text-field" style="padding:20px">
                            <h3>Abhishek Prasad</h3>
                            <p>
                                <a href="https://www.linkedin.com/in/abhpd/"><i class="fab fa-LinkedIn fa-2x"></i></a>
                            </p>
                          </div>
              </div>
              <div class="col-sm-2.4">
                <image src="../resources/Ayushi.jpeg" style="padding:20px" width="250px" height="250px" alt="" />
                <div class="text-field" style="padding:20px">
                            <h3>Ayushi Chauhan</h3>
                            <p>
                              <a href="https://www.linkedin.com/in/ayushi-chauhan-87a45a1b0/"><i class="fab fa-LinkedIn fa-2x"></i></a>
                            </p>
                          </div>
              </div>
            </div>
          </center>

            <div class="contact-us">
                <div class="row flow-box flow-box-icon">
                    <div class="col icon-col">
                        <i class="fab fa-instagram fa-5x"></i>
                        <i class="fab fa-facebook fa-5x"></i>
                        <i class="fab fa-twitter fa-5x"></i>
                        <i class="far fa-envelope fa-5x"></i>
                    </div>
                </div>
            </div>

            <div class="footer">
                <div class="row">
                    <p class="footer-text">
                        Copyright TwentyTwenty @ Vindd
                    </p>
                </div>
            </div>
        </div>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://kit.fontawesome.com/c00227cd9f.js"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
